<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CloudMarketplaceProvider</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
    <servlet-name>servlet</servlet-name>
    <servlet-class>com.sit.marketplace.params.DisplayParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateParams</servlet-name>
    <servlet-class>com.sit.marketplace.paramsform.ParamsFormSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParams</servlet-name>
    <url-pattern>/updateParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEucalyptusParams</servlet-name>
    <servlet-class>com.sit.marketplace.paramsform.EucalyptusParamsFormSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEucalyptusParams</servlet-name>
    <url-pattern>/updateEucalyptusParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LaunchInstances</servlet-name>
    <servlet-class>com.sit.marketplace.eucalaunch.LaunchInstances</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaunchInstances</servlet-name>
    <url-pattern>/launchInstances</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>FreeVms</servlet-name>
    <servlet-class>com.sit.marketplace.eucalaunch.GetNoOfFreeVmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeVms</servlet-name>
    <url-pattern>/getNoOfFreeVms</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>GetVmStatus</servlet-name>
    <servlet-class>com.sit.marketplace.eucalaunch.DescribeInstanceStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVmStatus</servlet-name>
    <url-pattern>/getVmStatus</url-pattern>
  </servlet-mapping>  
</web-app>